{% extends "shared/layout.html" %}
{% block nav %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="Nav" style="background-color: white;"
     xmlns="http://www.w3.org/1999/html">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">產品履歷</a>
    </div>
</nav>
{% endblock nav %}

{% block content %}
<!-- Masthead-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center ">
                <div class="text-center text-lg-left">
                    <h4>產品{{product_id}}內的零件</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">零件ID</th>
                                <th scope="col">名稱</th>
                                <th scope="col">零件類型</th>
                                <th scope="col">製造商名稱</th>
                                <th scope="col">製造地點</th>
                                <th scope="col">敘述</th>
                                <th scope="col">建立時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comp in comp_arr %}
                            <tr>
                                <th scope="row">{{ comp.componentId }}</th>
                                <td>{{ comp.name }}</td>
                                <td>{{ comp.componentType }}</td>
                                <td>{{ comp.producer }}</td>
                                <td>{{ comp.location }}</td>
                                <td>{{ comp.description }}</td>
                                <td>{{ comp.creationDate }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</section>
{% endblock content %}